body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 0;
    background-color: #E7F6F2;
}
h1{
    color: #2C3333;
    position: relative;
    top:50px;
    font-family: 'Sacramento', cursive;
    font-size:96px;
    margin-bottom:70px;
}
.hed{
    font-size:2.5rem;
    color: #2C3333;
    position: relative;
    font-family: 'Montserrat', serif;
}
h2{
    color: #2C3333;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
}
h3{
    color: #2C3333;
    font-family: 'Noto Sans', serif;
}
.bottom_cloud{
    position: absolute;
    left: 300px;
    top: 200px;
}
.top_cloud{
    position: absolute;
    right: 350px;
    top: 50px;
}
.top{
    background-color: #E7F6F2;
    position: relative;
    margin-top: 0;
    
}
.middle-container{
  
}
.bottom-container{

}   
hr {
    background-color: #E7F6F2;
    border-style: dotted none none;
    border-color:#2C3333;
    border-width:5px;
    width: 5%;
}